.center-text{
    text-align: center;
}

.flex-container{
    display: flex;
    align-items: center;
}
.profile-pic{
    flex:1;
    
    margin-left: 7.5%;
}
.profile-pic img{
    max-height:50vh;
    width: auto;
    display: block;
}
.intro-text{
    flex:2;
}
.icon-1{
    flex:1;
    margin-right:2%;
}
.icon-2{
    flex:1;
    margin-right:2%;
}
.icon-3{
    flex:1;
    margin-right:2%;
}
.icon-4{
    flex:1;
}
.skills{
    flex:1;
    margin-right:2%;
}
.my-project{
    flex:1;
    margin-right:2%;
}
body::before{
    content:"";
    background-image: url("assets/theme7.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    opacity:0.5;
    position: absolute;  
    top: -100px;
    left: 0;
    right: 0;
    bottom:-100px;;
    z-index: -1;
}
body {
    position: relative;  
    margin: 0;
}
#intro-container{
    margin-right:5vw;
    padding: 1vw;
    background-color: rgb(158, 211, 145);
     
    height:20vh;
    width: 40vw;
    text-align: center;
    align-items: center;
    display: grid;
}
#about-me{
    margin:5vw;
    padding: 1vw;
    background-color: rgb(158, 211, 145);
    margin-bottom: 2vh;
    height:20vh;
    margin-top: 2vh;
    text-align: center;
    align-items: center;
    display: grid;
}
#my-skills{
    margin:1vh 2vw 1vh 5vw;
    padding: 1vw;
    background-color: rgb(158, 211, 145);
     
    height:20vh;
    width: 40vw;
    text-align: center;
    align-items: center;
    display: grid;
}
#project{
    margin:1vh 5vw 1vh 2vw;
    padding: 1vw;
    background-color: rgb(158, 211, 145);
     
    height:20vh;
    width: 40vw;
    text-align: center;
    align-items: center;
    display: grid;
}
